@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

:root {
    --main-bg-color: #f6f7fb;
    --line-bg-color: #3498db;
    --faint-line-bg-color: #e0e0e0;
    --circle-bg-color: #fff;
    --circle-fill-color: #999;
    --circle-border-color: #999;
    --btn-primary: #fff;
    --btn-hover-color: #18cb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Muli', sans-serif;
    font-size: 62.5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

body {
    background-color: var(--main-bg-color);
}

.container {
    align-items: center;
    text-align: center;
    height: 100vh;
    margin-top: 50vh;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 2rem 40rem 2rem;
    max-width: 100%;
    width: 20rem;
}

.progress-container::before {
    content: '';
    display: inline-flex;
    background-color: var(--faint-line-bg-color);
    position: absolute;
    top: 45%;
    left: 0;
    transform: translateY();
    height: .4rem;
    width: 100%;
    z-index: -1;
}


.progress {
    display: inline-flex;
    background-color: var(--line-bg-color);
    position: absolute;
    top: 45%;
    left: 0;
    transform: translateY();
    height: .4rem;
    width: 0;
    z-index: -1;
    transition: .4s ease;
}

.circle {
    background-color: var(--circle-bg-color);
    color: var(--circle-fill-color);
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--circle-border-color);
    transition: .4s ease;
}

.circle.active {
    border-color: var(--line-bg-color);
}

.btn {
    background-color: var(--line-bg-color);
    color: var(--btn-primary);
    border: 0;
    border-radius: .6rem;
    cursor: pointer;
    font-family: inherit;
    padding: .8rem 3rem;
    margin: .5rem;
    font-size: 1.4rem;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}

.btn:hover {
    background-color: var(--btn-hover-color);
}